.video-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}

.video-overlay {
  position: absolute;
  top: 50%;
  left: 0; /* start from left */
  transform: translateY(-50%);
  text-align: left; /* keep text left-aligned */
  color: #fff;
  padding-left: 5%;
}

.video-overlay h1,
.video-overlay p {
  opacity: 0;
  transform: translateX(-100px); 
  animation: slideFadeIn 1.5s forwards;
  font-family: "Poppins", "Montserrat", sans-serif;
}
p{
    color: #ff0000;
    font-weight: 1000;
}

.video-overlay h1 {
  animation-delay: 1s; 
  font-size: 3rem;
  margin-bottom: 1rem;
}

.video-overlay p {
  animation-delay: 1.8s; 
  font-size: 1.5rem;
}

@keyframes slideFadeIn {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(75vh);
  }
}
