.footer {
  background-color: #111;
  color: white;
  padding: 40px 20px 20px 20px;
  font-family: "Poppins", sans-serif;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
  color: #777;
}
